name: build-publish
on: 
  push:

jobs:
  Test:
    name: Test
    runs-on: ubuntu-20.04
    env:
      GOPATH: ${{ github.workspace }}
      GO111MODULE: off
    defaults:
      run:
        working-directory: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          path: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}
      
      - name: Set up github environment variables
        uses: FranzDiebold/github-env-vars-action@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.3

      - name: Test
        continue-on-error: true
        env:
          COVERALLS_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: |
          make test
          goveralls -coverprofile=gover.coverprofile -service=github-actions -repotoken=$COVERALLS_TOKEN

      - name: Debug
        run: sleep 100m

      - name: build
        run: |
          make build_macos build_linux

      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mv bin/ridectl.macos bin/ridectl && zip -jrm bin/ridectl_macos.zip bin/ridectl
          mv bin/ridectl.linux bin/ridectl && zip -jrm bin/ridectl_linux.zip bin/ridectl
          go get github.com/tcnksm/ghr
          ghr -c ${CI_SHA_SHORT} ${CI_ACTION_REF_NAME} bin/