name: build-publish
on: 
  push:

jobs:
  Test:
    name: Test
    runs-on: ubuntu-20.04
    env:
      GOPATH: ${{ github.workspace }}
      GO111MODULE: off
    defaults:
      run:
        working-directory: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          path: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}
      
      - name: Set up github environment variables
        uses: FranzDiebold/github-env-vars-action@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.6

      - name: Cache multiple paths
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-${{ hashFiles('**/Gopkg.lock') }}

      - name: Debug
        run: |
          pwd
          echo ${HOME}
          echo ${GITHUB_WORKSPACE}
          echo ${GOPATH}
          echo ${GOROOT}
          
      
      - name: Test
        env:
          COVERALLS_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: |
          pwd
          make dep test 
          goveralls -coverprofile=gover.coverprofile -service=github-actions -repotoken=$COVERALLS_TOKEN

      - name: Test
        run: |
          make build_macos build_linux
          ls -al
          ls bin/

      - name: pack artifact
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mv bin/ridectl.macos bin/ridectl && zip -jrm bin/ridectl_macos.zip bin/ridectl
          mv bin/ridectl.linux bin/ridectl && zip -jrm bin/ridectl_linux.zip bin/ridectl
          go get github.com/tcnksm/ghr
          ghr -c ${CI_SHA_SHORT} ${CI_ACTION_REF_NAME} bin/
          ls vendor/
      # - name: Release
      #   uses: softprops/action-gh-release@v1
      #   if: startsWith(github.ref, 'refs/tags/')
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     files: |
      #       bin/ridectl_macos.zip
      #       bin/ridectl_linux.zip
        