name: CI
on:
  push:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-20.04
    env:
      TOKEN: ${{ secrets.USER_GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - name: Setup gitconfig fot private go module
        run: |
          git config --global url."https://${TOKEN}:x-oauth-basic@github.com/Ridecell".insteadOf "https://github.com/Ridecell"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          args: --timeout 5m
          skip-cache: true

  build:
    name: Build
    runs-on: ubuntu-20.04
    needs: lint
    env:
      TOKEN: ${{ secrets.USER_GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - name: build
        run: |
          make build_macos build_linux
      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mv bin/ridectl.macos bin/ridectl && zip -jrm bin/ridectl_macos.zip bin/ridectl
          mv bin/ridectl.linux bin/ridectl && zip -jrm bin/ridectl_linux.zip bin/ridectl
          go get github.com/tcnksm/ghr
          ghr -c ${github.CI_SHA_SHORT} ${github.GITHUB_REF_NAME} bin/
